@import './common.css';

.container {
  max-width: 428px;
  padding: 0 16px;
  margin-left: auto;
  margin-right: auto;
}

/* HEADER */


.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.page-header {
  border-bottom: 1px solid var(--frame-color);
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
  padding-top: 24px;
  padding-bottom: 22px;
}

.header-flex-wrapper,
.address-data {
  display: none;
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  margin-right: 76px;
  text-transform: uppercase;
  color: var(--primary-brand-color);
}

.logo-accent {
  color: var(--primary-dark-color);
}

/* MOBILE MENU */

.menu-open-btn {
  border: none;
  background-color: transparent;
  padding: 0;
  line-height: 0;
}

.menu-open-icon {
  stroke: var(--primary-dark-color);
}

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--primary-background-color);
  transform: translateY(100%);
  transition: transform var(--transition-dur-and-func);
}

.mobile-menu-container {
  position: relative;
  padding: 80px 0 40px 40px;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-between;
}

.mobile-menu-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.mobile-menu-item {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: left;

}

.mobile-menu-link {
  color: var(--primary-dark-color)
}

.mobile-menu-link:hover,
.mobile-menu-link:focus,
.current-mobile {
  color: var(--pressed-button-color);
}

.mobile-adress-wrapper {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-bottom: 48px;
}

.mobile-phone-link {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: var(--primary-brand-color);
}

.mobile-mail-link {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.modal-social-links-wrapper {
  display: flex;
  gap: 56px;
}

.mobile-menu.is-open {
  transform: translateY(0%);
}

/* MAIN */

.hero-screen {
  max-width: 1440px;
  padding: 188px 0;
  margin: 0 auto;
  background-color: var(--primary-dark-color);
  color: var(--primary-background-color);
  text-align: center;
  background-image: linear-gradient(rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)), url(../images/hero-bg/hero-bg-mobile.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.hero-header {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 72px;
}

.section-header {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: var(--primary-dark-color);
  margin-bottom: 72px;
}

.cta,
.modal-submit-btn {
  padding: 16px 32px;
  color: var(--primary-background-color);
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  margin: 0 auto;
  background-color: var(--primary-brand-color);
  box-shadow: 0px 4px 4px 0px #00000026;
  transition: background-color var(--transition-dur-and-func);
}

.cta:hover,
.cta:focus,
.modal-submit-btn:hover,
.modal-submit-btn:focus {
  background-color: var(--pressed-button-color);
}

.section-wrapper {
  padding: 96px 0;
}

.list-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 72px;
}

.list-item {
  width: inherit;
}

.block-header {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 8px;
}

.block-descr,
.team-card-descr {
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.block-descr {
  font-weight: 500;
}

.about-section-wrapper {
  display: none;
}

.icon-wrapper {
  display: none;
}

.team-section {
  background-color: var(--secondary-light-color);
}

.team-card {
  background-color: var(--primary-background-color);
  width: 100%;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px #2E2F4214, 0px 1px 1px 0px #2E2F4229, 0px 1px 6px 0px #2E2F4214;
}

.team-card-header {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  margin-bottom: 8px;
}

.card-text {
  text-align: center;
  padding: 32px 16px;
}

.social-links-wrapper {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.social-link,
.social-link-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--primary-brand-color);
  transition: background-color var(--transition-dur-and-func);
}

.social-link:hover,
.social-link:focus {
  background-color: var(--pressed-button-color);
}

.social-link-footer:hover,
.social-link-footer:focus {
  background-color: #31D0AA;
}

.customers-list-item {
  width: calc((100% - 16px)/2);
  height: 88px;
}

.social-icon {
  fill: #f4f4fd;
}

.customers-list-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  column-gap: 16px;
  row-gap: 72px;
}

.customer-link-item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: #8E8F99;
  border: 1px solid #8E8F99;
  border-radius: 4px;
  transition: border-color var(--transition-dur-and-func), color var(--transition-dur-and-func);
}

.customer-link-item:hover,
.customer-link-item:focus {
  border-color: 1px solid var(--pressed-button-color);
  color: var(--pressed-button-color);
}

.customers-icon {
  fill: #8E8F99;
  transition: fill var(--transition-dur-and-func);
}

.customer-link-item:hover .customers-icon,
.customer-link-item:focus .customers-icon {
  fill: var(--pressed-button-color);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}


/* FOOTER */


.page-footer {
  padding: 96px 0;
  background-color: var(--primary-dark-color);
}

.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 72px;
}

.footer-item .logo {
  text-align: center;
  margin: 0 auto 16px;
  color: var(--primary-brand-color);
}

.footer-links-wrapper {
  display: flex;
  gap: 16px;
}

.footer-header-text {
  text-align: center;
  font-weight: 500;
  line-height: 1.5;
  margin-bottom: 16px;
  color: var(--primary-background-color);
}

.footer-text,
.footer-logo {
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.footer-logo {
  color: var(--secondary-light-color);
}

.footer-text {
  width: 268px;
  color: var(--primary-background-color);
}

.subscribe-form {
  display: flex;
  flex-wrap: wrap;
  row-gap: 16px;
  align-items: center;
  justify-content: center;
}

.form-input {
  padding: 8px 16px;
  line-height: 1.5;
  font-size: 12px;
  letter-spacing: 0.04em;
  border-radius: 4px;
  height: 40px;
}

.footer-form-label {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
  text-align: center;
  color: var(--primary-background-color);
}

.subscribe-label {
  width: 100%;
  max-width: 398px;
}

.footer-subscribe-input {
  width: inherit;
  color: var(--primary-background-color);
  border: 1px solid var(--primary-background-color);
  background-color: transparent;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.footer-subscribe-input::placeholder {
  color: var(--primary-background-color);
}

.footer-submit-btn {
  padding: 8px 24px;
  min-width: 165px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  border: none;
  color: var(--primary-background-color);
  background-color: var(--primary-brand-color);
  transition: color var(--transition-dur-and-func), background-color var(--transition-dur-and-func);
}

.footer-submit-btn:hover,
.footer-submit-btn:focus {
  color: var(--primary-background-color);
  background-color: var(--pressed-button-color);
}

.footer-send-icon {
  margin: 2px 0 2px 16px;
  fill: var(--primary-background-color);
}

/* MODAL FORM FOR ORDER */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity var(--transition-dur-and-func), visibility var(--transition-dur-and-func);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 96px;
  left: 50%;
  transform: translateX(-50%);
  padding: 72px 16px 24px;
  width: 100%;
  min-width: 320px;
  max-width: 392px;
  min-height: 584px;
  background-color: #FCFCFC;
  border-radius: 4px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
  transition: transform var(--transition-dur-and-func);
}

.close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  padding: 0;
  line-height: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--frame-color);
  transition: background-color var(--transition-dur-and-func), border var(--transition-dur-and-func);
}

.icon-close {
  fill: #000;
  transition: fill var(--transition-dur-and-func);
}

.close-btn:hover,
.close-btn:focus {
  background-color: var(--pressed-button-color);
  border: none;
}

.close-btn:hover .icon-close,
.close-btn:focus .icon-close {
  fill: #FFFFFF;
}

.modal-form-header {
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
  color: var(--primary-dark-color);
}

.form-input-wrapper {
  margin-bottom: 8px;
}

.modal-form-label {
  display: block;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8E8F99;
  margin-bottom: 4px;
}

.modal-form-input {
  width: 100%;
  max-width: 360px;
  border-radius: 4px;
  font-size: 18px;
  background-color: transparent;
  outline: transparent;
  border: 1px solid rgba(46, 47, 66, 0.4);
  transition: border-color var(--transition-dur-and-func);
}

.text-input {
  height: 40px;
  padding-left: 38px;
}

.comment-field-wrapper {
  margin-bottom: 16px;
}

.modal-form-input:hover,
.modal-form-input:focus {
  outline-offset: 4px;
  border-color: rgba(77, 90, 229, 1);
}

.modal-input-wrapper {
  position: relative;
}

.input-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 16px;
  fill: var(--primary-dark-color);
  transition: fill var(--transition-dur-and-func);
}

.modal-form-input:hover+.input-icon,
.modal-form-input:focus+.input-icon {
  fill: var(--primary-brand-color);
}

.modal-textarea {
  height: 120px;
  padding: 8px 16px;
  font-size: 12px;
  border-radius: 4px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  resize: none;
  color: rgba(46, 47, 66, 0.4)
}

.modal-textarea::placeholder {
  font-size: 12px;
  line-height: 1.17;
  color: rgba(46, 47, 66, 0.4);
}

.policy-field-wrapper {
  margin-bottom: 24px;
}

.visually-hidden {
  position: absolute;
  pointer-events: none;
  opacity: 0;
}

.policy-field {
  display: block;
}

.custom-checkbox {
  width: 16px;
  height: 16px;
  padding: 3px 2px;
  margin-right: 8px;
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  border-radius: 2px;
  justify-content: center;
  fill: transparent;
  border: 1px solid rgba(46, 47, 66, 0.4);
  background-color: var(--primary-background-color);
  transition: fill var(--transition-dur-and-func), background-color var(--transition-dur-and-func), border var(--transition-dur-and-func);
}

.hidden-policy-checkbox:checked+.policy-field>.custom-checkbox {
  border: none;
  background-color: var(--pressed-button-color);
  fill: var(--secondary-light-color);
}

.hidden-policy-checkbox:focus+.policy-field>.custom-checkbox {
  outline: 1px solid rgba(77, 90, 229, 1)
}

.policy-link {
  color: #4d5ae5;
}


/* MEDIA FOR TABLET */


@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }

  .menu-open-btn {
    display: none;
  }

  .menu-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .page-header {
    padding-top: 0;
    padding-bottom: 0;
  }

  .header-flex-wrapper {
    display: flex;
    gap: 40px;
  }

  .header-adress-wrapper {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .menu-item {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }

  .menu-item .link {
    padding-top: 24px;
    padding-bottom: 24px;
  }

  .list .link:hover,
  .list .link:focus,
  .list .link:active {
    color: var(--pressed-button-color);
  }

  .current {
    color: var(--pressed-button-color);
    position: relative;
  }

  .current::after {
    position: absolute;
    content: '';
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--pressed-button-color);
  }

  .contact-data .link {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
  }

  .address-data {
    display: block;
    font-size: 12px;
    font-style: normal;
    line-height: 1.17;
    letter-spacing: 0.04em;
  }

  .hero-header {
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    margin: 0 auto 36px;
    max-width: 496px;
  }

  .list-wrapper {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: start;
    row-gap: 72px;
    column-gap: 24px;
  }

  .list-item,
  .team-card {
    width: calc((100% - 24px)/2);
  }

  .customers-list-wrapper {
    column-gap: 24px;
  }

  .customers-list-item {
    width: calc((100% - 24px*2)/3);
  }

  .customers-icon {
    width: 104px;
  }

  .footer-container {
    flex-direction: row;
    align-items: baseline;
    flex-wrap: wrap;
    row-gap: 72px;
    column-gap: 24px;
  }

  .footer-container,
  .customers-list-wrapper,
  .team-cards-wrapper {
    padding: 0 92px;
  }

  .footer-text {
    width: 264px;
  }

  .footer-header-text,
  .footer-form-label,
  .footer-item .logo {
    text-align: start;
  }

  .subscribe-label {
    min-width: 264px;
  }

  .subscribe-form {
    flex-wrap: nowrap;
    gap: 24px;
  }

  .modal {
    max-width: 408px;
    padding: 72px 24px 24px;
  }
}


/* MEDIA FOR DESKTOP */


@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
  }

  .header-adress-wrapper {
    flex-direction: row;
    gap: 40px;
  }

  .address-data {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }

  .footer-container,
  .customers-list-wrapper,
  .team-cards-wrapper {
    padding: 0;
  }

  .footer-container {
    gap: 0;
  }

  .section-wrapper {
    padding: 120px 0;
  }

  .hero-header {
    margin: 0 auto 48px;
  }

  .list-item,
  .team-card {
    width: calc((100% - 72px)/4);
  }

  .icon-wrapper {
    height: 112px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 8px;
    background-color: var(--secondary-light-color);
    border-radius: 4px;
  }

  .block-header {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
  }

  .block-descr {
    font-weight: 400;
  }

  .about-section-wrapper {
    display: block;
    padding-bottom: 120px;
  }

  .photo-list {
    width: calc((100% - 48px)/3);
  }

  .customers-list-item {
    width: calc((100% - 24px*5)/6);
  }

  .page-footer {
    padding: 100px 0;
  }

  .footer-item:first-child {
    margin-right: 120px;
  }

  .footer-subscribe-form {
    margin-left: 80px;
  }

  .modal {
    top: 80px
  }

}

/* MEDIA FOR BACKGROUND */


@media screen and (min-resolution: 192dpi) and (max-width: 767px),
screen and (min-resolution: 2dppx) and (max-width: 767px),
screen and (min-device-pixel-ratio: 2) and (max-width: 767px) {
  .hero-screen {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)), url('../images/hero-bg/hero-bg-mobile@2x.jpg');
  }
}

@media screen and (min-width: 768px) {
  .hero-screen {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)), url('../images/hero-bg/hero-bg-tablet.jpg');
  }
}

@media screen and (min-resolution: 192dpi) and (min-width: 768px),
screen and (min-resolution: 2dppx) and (min-width: 768px),
screen and (min-device-pixel-ratio: 2) and (min-width: 768px) {
  .hero-screen {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)), url('../images/hero-bg/hero-bg-tablet@2x.jpg');
  }
}

@media screen and (min-width: 1158px) {
  .hero-screen {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)), url('../images/hero-bg/hero-bg-desktop.jpg');
  }
}

@media screen and (min-resolution: 192dpi) and (min-width: 1158px),
screen and (min-resolution: 2dppx) and (min-width: 1158px),
screen and (min-device-pixel-ratio: 2) and (min-width: 1158px) {
  .hero-screen {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)), url('../images/hero-bg/hero-bg-desktop@2x.jpg');
  }
}